@{
    ViewData["Title"] = "Home Page";
}

<div>
    <ul>
        <li><a asp-area="" asp-controller="Employees" asp-action="Index">Employee</a></li>
        <li><a asp-area="" asp-controller="Departments" asp-action="Index">Department</a></li>
        <li><a asp-area="" asp-controller="Projects" asp-action="Index">Project</a></li>
        <li><a asp-area="" asp-controller="Roles" asp-action="Index">Role</a></li>
    </ul>
    

</div>
